asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
diff-match-patch==20181111
Django==2.2.10
django-import-export==1.2.0
idna==2.7
imageio==2.3.0
imutils==0.5.3
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.2
olefile==0.46
Pillow==9.0.0
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
pytz==2019.3
requests==2.19.1
six==1.11.0
tablib==0.11.4
urllib3==1.23
